/* .submenu{
  display: none;
}

li:hover ul.submenu {
  display: block;
} */

.xyz {
  background-color: blueviolet;
}

#xyz {
  background-color: blueviolet;
}

/* .low {
  background: -webkit-linear-gradient(top, purple);
} */

.button {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;

  border-radius: 40px;
  border: 3px solid #afafaf;
  color: #585a5e;
  font-size: 15px;
  font-family: sans-serif;
}

/* ul:nth-child(1) {
  color: blueviolet;
}

ul:nth-of-type(2) {
  color: blueviolet;
} */

/* .robot_ul1 + .robot_ul2 {
  color: blueviolet;
} */

/* .robot_li1 ~ li {
  color: blueviolet;
} */

.robot_ul1::before {
  content: 'Черви';
}

.robot_ul1::after {
  content: 'Черви';
}

ul::first-letter {
  font-size: 25px;
}